{
    "page":"#fff",
    "page-t":"#000",
    "page-d":"#292524",
    "page-dt":"#fff",
    "primary":"#374151",
    "primary-t":"#fff",
    "primary-d":"#1c1917",
    "primary-dt":"#fff",
    "secondary":"#3b82f6",
    "secondary-t":"#fff",
    "secondary-d":"#312e81",
    "secondary-dt":"#fff",
    "primary-info":"#06b6d4",
    "primary-info-t":"#fff",
    "primary-info-d":"#06b6d4",
    "primary-info-dt":"#fff",
    "secondary-info":"#06b6d4",
    "secondary-info-t":"#fff",
    "secondary-info-d":"#06b6d4",
    "secondary-info-dt":"#fff",
    "success":"#22c55e",
    "success-t":"#fff",
    "success-d":"#22c55e",
    "success-dt":"#fff",
    "danger":"#ef4444",
    "danger-t":"#fff",
    "danger-d":"#ef4444",
    "danger-dt":"#fecaca",
    "warning":"#eab308",
    "warning-t":"#fff",
    "warning-d":"#eab308",
    "warning-dt":"#fff"
}